body {
  margin: 0;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../public/desk-2325627.jpg') ;
  background-size: cover;
  background-color: rgb(81, 110, 135);
  background-attachment: fixed;
  background-color: #f0f0f0;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
